@import '../mixins';

.auth{
    @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,100%)));
    @include flex;
    .auth-card{
        @include widthAndHeight(calc(min(95%,30rem)),calc(min(90%, 70%)));
        @include grid(15% 70% 15%,100%);
        background: radial-gradient(circle, rgb(0, 153, 255) 0%, rgb(0, 90, 199) 100%);
        border-radius: 5px;
        .auth-title{
            color: white;
            font-size: 2.3rem;
        }
        .auth-form{
            @include widthAndHeight(calc(min(100%, 90%)),calc(min(100%,100%)));
            display: grid;
            justify-items: center;
            align-items: flex-end;
            .authInput{
                @include widthAndHeight(calc(min(100%, 100%)),calc(min(100%,2.8rem)));
                font-size: 1.2rem;
                border-radius: 5px;
                padding:0 2% 0 2% ;
            }
            .auth-button{
                background-color: white;
            }
        }
        .login{
            grid-template: repeat(3, 33.33%) / 100% ;
        }
        .signup{
            grid-template: repeat(5, 20%) / 100% ;
        }
        .auth-switch{
            font-size: 1.3rem;
            background: none;
            color: white;
            border: none;
        }
    }
}
